@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}
.button{
  padding: 18px;
  width: 60px;
  margin: 0 3px;
  border: 2px solid blue;
  border-radius: 9px;
  cursor:pointer;
}
.row{
  margin: 8px 0;
}
.row input{
  width: 290px;
  font-size: 22px;
  margin: 0px;
  padding: 7px 0px;
  border: 2px solid purple;
  border-radius: 5px;
}
